[submodule "apps/projectGenerator"]
	path = apps/projectGenerator
	url = https://github.com/openframeworks/projectGenerator.git
[submodule "addons/ofxIO"]
	path = addons/ofxIO
	url = https://github.com/bakercp/ofxIO
[submodule "addons/ofxJSON"]
	path = addons/ofxJSON
	url = https://github.com/jefftimesten/ofxJSON
[submodule "addons/ofxDelaunay"]
	path = addons/ofxDelaunay
	url = https://github.com/obviousjim/ofxDelaunay
[submodule "addons/ofxBluetoothManager"]
	path = addons/ofxBluetoothManager
	url = https://github.com/vanderlin/ofxBluetoothManager
[submodule "addons/ofxMidi"]
	path = addons/ofxMidi
	url = https://github.com/danomatika/ofxMidi
[submodule "addons/ofxTweener"]
	path = addons/ofxTweener
	url = https://github.com/hautetechnique/ofxTweener
[submodule "addons/ofxUI"]
	path = addons/ofxUI
	url = https://github.com/rezaali/ofxUI
[submodule "addons/ofxPCA"]
	path = addons/ofxPCA
	url = https://github.com/atduskgreg/ofxPCA.git
[submodule "addons/ofxNonLinearFit"]
	path = addons/ofxNonLinearFit
url=https://github.com/MartinHN/ofxNonLinearFit.git
[submodule "addons/ofxNearestNeighbour"]
	path = addons/ofxNearestNeighbour
url=https://github.com/martinHN/ofxNearestNeighbour.git
[submodule "addons/ofxTaskQueue"]
	path = addons/ofxTaskQueue
	url = https://github.com/bakercp/ofxTaskQueue.git
[submodule "addons/ofxTuioWrapper"]
	path = addons/ofxTuioWrapper
	url = https://github.com/arturoc/ofxTuioWrapper.git
[submodule "addons/ofxSyphon"]
	path = addons/ofxSyphon
	url = https://martinHN@github.com/MartinHN/ofxSyphon.git
